.button {
    display: inline-block;
    color: #fff;
    background-color: #7cc576;
    margin-top: 60px;
    padding: 20px 30px;
    border-radius: 50px;
    
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;


}