.button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #7cc576;
    margin-top: 54px;
    padding: 19px 36px;
    border-radius: 50px;
    
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in;

    &:hover {
        text-decoration: none;
        color: #222;
        background-color: #fff;
    }
    
}