.clients__testimonial {
    display: flex;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

    &--position-right {
        justify-content: flex-end;
    }

    

    @media (max-width: 767px) {
        flex-direction: column;

        &--reverse {
            flex-direction: column-reverse;
        }
    }
}

.clients__testimonial-wrapper {
    &--reverse {
        flex-direction: column-reverse;
    }
}

.clients__image {
    background-color: #f9f9f9;
    width: 227px;
    height: 227px;
    border-radius: 150px;

    margin-right: 45px;
    flex-shrink: 0;

    &--margin-left {
        margin-left: 45px;
        margin-right: 0;

        @media (max-width: 767px) {
            margin-left: 20px;
        }
    }

    @media (max-width: 992px) {
        width: 180px;
        height: 180px;

        margin-right: 35px;
    }

    @media (max-width: 767px) {
        width: 150px;
        height: 150px;

        margin: 0;
        padding: 0;

        margin-bottom: 25px;
    }
}

.clients__text {
    background-color: #f9f9f9;
    color: #777;
    font-family: "Roboto Slab", serif;
    font-size: 22px;

    padding: 32px 50px;

    @media (max-width: 992px) {
        padding: 27px 30px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
        text-align: center;
        padding: 15px;
    }
}

.clients__text--triangle-left::before {
    content: "";
    position: absolute;

    top: 100px;
    left: 251px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 21px 12px 0;
    border-color: transparent #f9f9f9 transparent transparent;

    @media (max-width: 992px) {
        top: 80px;
        left: 194px;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.clients__text--triangle-right::before {
    content: "";
    position: absolute;

    top: 100px;
    right: 252px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 20px;
    border-color: transparent transparent transparent #f9f9f9;

    @media (max-width: 992px) {
        top: 85px;
        right: 240px;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.clients__name {
    color: #7cc576;
    font-family: "Roboto Slab", serif;
    font-size: 18px;

    text-align: center;
    margin-top: 15px;

    @media (max-width: 767px) {
        font-size: 15px;
    }
}
