.heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #222;
    font-size: 40px;
    line-height: 1.8;
    letter-spacing: -0.75px;
    font-weight: 700;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-bottom: -8px;

    &--promo-title {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.200;
        letter-spacing: -0.75px;
    }
}

.subheading {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #777;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.25px;

    margin: 0;
    padding: 0;

    &--promo-subtitle {
        color: #fff;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        margin-top: 19px;
        letter-spacing: -0.25px;
    }
}
