.section {
    padding-top: 78px;
    padding-bottom: 96px;

    @media (max-width: 767px) {
        padding-top: 52px;
        padding-bottom: 60px;
    }
}

.section--bg-ipad {
    background-repeat: no-repeat;
    background-position: right 70%;

    @media (min-width: 1500px) {
        background-image: url("../img/images/ipad.png");
    }
}
