.contact {
    background-color: #7cc576;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 70px;
}

.contact__title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(131, 23, 23);
    font-size: 40px;
    line-height: 1.8;
    letter-spacing: -0.75px;
    font-weight: 700;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-bottom: -8px;
}