.copyright {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }
}

.copyright__text {
    font-family: "Montserrat", sans-serif;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-right: 118px;

    @media (max-width: 767px) {
        margin: 0;
        margin-top: 20px;
    }
}

.copyright__social {
    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

.copyright__social-icon {
    display: inline-block;
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.copyright__social-icon-twitter {
    position: relative;
    background-color: #222;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    transition: all 0.2s ease-in;

    img {
        padding-top: 12px;
        padding-left: 11px;
    }

    &::before {
        content: url(../img/icons/twitter.png);
        position: absolute;
        top: 12px;
        left: 11px;
    }

    &:hover {
        background-color: #00aced;
    }
}



.copyright__social-icon-facebook {
    position: relative;
    background-color: #222;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    transition: all 0.2s ease-in;

    img {
        padding-top: 10px;
        padding-left: 15px;
    }

    &::before {
        content: url(../img/icons/facebook.png);
        position: absolute;
        top: 11px;
        left: 15px;
    }

    &:hover {
        background-color: #3b5998;
    }
}

.copyright__social-icon-pinterest {
    position: relative;
    background-color: #222;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    transition: all 0.2s ease-in;

    img {
        padding-top: 10px;
        padding-left: 12px;
    }

    &::before {
        content: url(../img/icons/pinterest.png);
        position: absolute;
        top: 10px;
        left: 12px;
    }

    &:hover {
        background-color: #cb2028;
    }
}

.copyright__social-icon-google {
    position: relative;
    background-color: #222;
    width: 41px;
    height: 41px;
    border-radius: 100px;
    transition: all 0.2s ease-in;

    img {
        padding-top: 12px;
        padding-left: 13px;
    }

    &::before {
        content: url(../img/icons/google.png);
        position: absolute;
        top: 12px;
        left: 14px;
    }

    &:hover {
        background-color: #da2713;
    }
}
