.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__nav-list-item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
    
    a {
        font-family: 'Montserrat', sans-serif;
        color: #777777;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &:hover {
            color: #222;
            
        }
    }
}
