.partner {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media (max-width: 767px) {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}

.partner__image {
    display: inline-block;
    margin-right: 36px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 992px) {
        margin-right: 15px;
    }

    @media (max-width: 767px) {
        display: block;

        margin: 0;
        padding: 0;

        padding-top: 40px;
    }
}
