.project {
    margin-top: 75px;
}

.project__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;

    color: #222;

}

.project__description {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.project__benefit-block {
    margin-top: 20px;
    margin-bottom: 28px;
}

.project__benefit-block-item {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.project__benefit-block-item-image {
    margin-right: 15px;
}

.project__benefit-block-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;

    color: #222;
}

.project__benefit-block-item-text {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}
.projects__image{

}