.promo-wrapper {
    background-image: url(../img/bg/bg-headder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.promo {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

    padding-top: 84px;
    padding-bottom: 120px;

    @media (max-width: 767px) {
        padding-top: 52px;
        padding-bottom: 60px;
    }
}

// .promo__title {
//     font-family: 'Montserrat', sans-serif;
//     color: #fff;
//     font-size: 60px;
//     font-weight: 700;
//     text-transform: uppercase;
//     line-height: 1.200;
//     letter-spacing: -0.75px;
// }

// .promo__subtitle {
//     color: #fff;
//     font-family: 'Roboto Slab', serif;
//     font-size: 20px;
//     margin-top: 19px;
//     letter-spacing: -0.25px;

// }
