.benefit-block {
    margin-top: 85px;
}

.benefit-block__image {
    margin-bottom: 38px;
}

.benefit-block__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;

    color: #222;

    margin: 0;
    padding: 0;

    margin-top: 28px;
    margin-bottom: 6px;
}

.benefit-block__text {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    
    padding-bottom: 102px;
}